<style>
tr:nth-child(even) {
	background-color: #f2f2f2
}

</style>


<div align="center" style="font-weight: bold">
	REGISTRO DE BOLETINS DE OCORRÊNCIA
</div>
<br>
<table>
	<thead>
		<tr>
			<th>Nº</th>
			<th>Data Reg.</th>
			<th>Data Fato</th>
			<th>Natureza</th>
			<th>Cidade</th>
			<th>Providência</th>
		</tr>
	</thead>
	<tbody>
		<% @bos_filter = @bos.sort_by{ |t| [t.fato, t.n] } %>
		<% @bos_filter.each do |f| %>
		<tr>
			<td><%= f.n %></td>
			<td><%= date(f.fato) %></td>
			<td><%= date(f.ocorrencia) %></td>
			<td><%= (f.nature.name) %></td>
			<td><%= f.city.nome %></td>
			<td><%= f.providenca %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<div class="page-break"></div>

<div align="center" style="font-weight: bold">
	RESUMO
</div>
<hr>

<strong>Total Bos:</strong> <%= @bos_filter.count %> <br>
<strong>Total Arquivado:</strong> <%= @bos.where(providenca: 'Arquivado').count %> <br>
<strong>Total Convertido:</strong> <%= @bos.where(providenca: 'Convertido').count %> <br>
<strong>Total Transferido:</strong> <%= @bos.where(providenca: 'Transferido').count %> <br>
<strong>Total Em Andamento:</strong> <%= @bos.where(providenca: 'Em Andamento').count %> <br>
<hr>


<% dados2 = @bos.map do |f| %>
<% f.nature.name %> 
<% end %>
<% @aa = dados2.inject(Hash.new(0)) {|memo,value| memo[value] += 1; memo} %>
<% @aa.sort.each do |f| %>
<%= f[0] %> = <%= f[1] %> <br>
<% end %>
<hr>


<% dados3 = @bos.map do |f| %>
<% f.city.nome %> 
<% end %>
<% @aaa = dados3.inject(Hash.new(0)) {|memo,value| memo[value] += 1; memo} %>
<% @aaa.sort.each do |f| %>
<%= f[0] %> = <%= f[1] %> <br>
<% end %>