<%= link_to ' BOs', bos_path, class: 'fa fa-archive dropdown-item' %>
<div class="dropdown-divider"></div>
<%= link_to ' TCO', tcos_path, class: 'fa fa-cubes dropdown-item' %>
<div class="dropdown-divider"></div>
<%= link_to ' BOC', bocs_path, class: 'fa fa-eye dropdown-item' %>
<div class="dropdown-divider"></div>
<%= link_to ' Inqueritos', inqueries_path, class: 'fa fa-file-text dropdown-item' %>
<div class="dropdown-divider"></div>
<%= link_to ' Apreenção', seizures_path, class: 'fa fa-gavel dropdown-item' %>
<div class="dropdown-divider"></div>
<%= link_to ' Mandados de Prisão', root_path, class: 'fa fa-gavel dropdown-item disabled' %>

