
<%= simple_form_for(@registry) do |f| %>
<%= error_messages_for(@registry) %>

<div class="form-row justify-content-center">
  <div class="col-sm-12 col-md-10 col-lg-8">
    <div class="form_group">
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :phone %>
      <%= f.input :email %>
      <%= f.input :dp %>
      <%= f.input :active %>
      <hr>
      <%= btn_save %>
      <%= btn_cancel(registries_path) %>
    </div>
  </div>
</div>
<% end %>