<% @title_painel = "Listagem da #{@precatory.model_name.human(count: 1)}" %>

<%= @regis %>
<p>
  <strong>Nº:</strong>
  <%= @precatory.n.to_s.rjust(3, '0') %>/<%= @precatory.year.year %>
  <strong>Delegado(a):</strong>
  <%= @precatory.server.name %>
  <strong>Deprecada:</strong>
  <%= @precatory.registry.name %>
  <strong>IP:</strong>
  <%= @precatory.inquery.dp %>-<%= @precatory.inquery.n.to_s.rjust(3, '0') %>/<%= @precatory.year.year %>
</p>
<hr>
<% @questions.each do |f| %>
    <li><%= f.question %></li>
<% end %>
<hr>
<%= link_to edit_precatory_path(@precatory), class: 'btn btn-primary', title: 'Alterar Dados' do %> 
<i class="glyphicon glyphicon-pencil"> Alterar</i> 
<% end %>
&nbsp;
<%= link_to precatories_path, class: "btn btn-warning", title: "Voltar para Pagina Inicial" do %>
<i class="glyphicon glyphicon-arrow-left"> Voltar</i> 
<% end %>
